{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<h1 align="center">Dear Diary,</h1>
<ul class="list-group list-group-flush" id="stories">
    {% for story in user.stories %}
    <li class="list-group-item">{{story.data}}
        <button type="button" class="close" onClick="deleteStory('{{ story.id }}')">
            <span aria-hidden="true">&times;</span>
        </button>
    </li>
    {% endfor %}
</ul>
<form method="POST">
    <textarea name="story" id="story" class="form-control"></textarea>
    <br />
    <div align="center">
        <button type="submit" class="btn btn-primary">Add story</button>
    </div>
</form>
{% endblock %}